*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.root{
    display: flex;
    flex-direction: row;
    padding-top: 7%;
  align-items: flex-start;
}

.navbar{
   
    
   position: fixed;
    display: flex;
    flex-direction: row;
    background-color: silver;
   border-top:3px solid black;
    box-shadow: 0px 2px 1px silver;
  width: 100vw;
  height: 10vh;

}
.list{

   
    font-family: sans-serif;
    font-size: 1.3rem;
    margin: 1% 0% 0% 5%;
}
.navbar .list ul li{
    list-style: none;
   
}
ul{
    display: flex;
    flex-direction: row;
    gap:60px;
}
.shoes{
    display: flex;
    flex-direction: row;
    width: 50vw;
 
    justify-content: space-around;
    flex-wrap: wrap;
    gap:50px;
}
.shoes-card{
    width: 15vw;
    height: 50vh;
    border: 2px solid black;
    border-radius: 10px;

}
.img-details{
    background-color: rgb(255, 201, 135);
    border-radius: 10px ;
    padding-top: 2%;
    height: 22vh;


}
h5{
    text-align: center;
    font-size: 1.1rem;
    margin-top: 10%;
}
#Add{
    background-color: transparent;
    border-radius: 20px;
    width:90px;
    margin: 5% 27%;
    height: 5vh;
    cursor: pointer;
}
img{
    display: flex;
    align-items: center;
   border-radius: 7px 7px 0px 0px;
    
}
.shoes-card:hover{
 transform: scale(1.1);
   
}
#Add:hover{
    background-color: rgb(112, 255, 112);
}
.Cart{
   
    background-color: silver;
    display: flex;
    flex-direction: column;
    width: 40vw;
    border-radius: 10px;
}
.heading{
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}
 p{
    font-size: 1rem;
    text-align: center;
}
.li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: hsl(77, 100%, 66%);
    align-items: center;
    margin:2% 0%;
}
.counter{
    display: flex;
    flex-direction: row;
    
}
.cart-items-details{
    font-size: 0.6rem;
}
#minus,#plus{
    width: 2vw;
    background-color: rgb(236, 207, 154);
    margin: 0% 5%;
}
.total{
    font-size: 1.3rem;
}